@font-face {
   font-family: 'Norwester' ;
   src: url('norwester/norwester.otf') format('truetype');
}

@font-face {
   font-family: 'kollektif' ;
   src: url('kollektif/kollektif.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

.topnav {
  background-color: #264653;
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.topnav a {
  color: #E9C46A;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Norwester';
  text-shadow: 2px 2px #E76F51;
}

.topnav a:hover {
  color: #2A9D8F;
  text-shadow: 2px 2px #F4A261;
}

#headerwrapper{
	background-color: #264653;
	text-align: center;
}

#header{
	width: 70%
}

#header a{
	color: #E76F51; 
	text-decoration: none;
}

body{
	font-family: 'Kollektif';
	font-size: 18px;
	background-color: #F2E1CF;
	margin: auto;
	color: #264653;
	width: 100%;
}

.wrapper{
	width: 100%;
}

.content{
	width: 70%;
	margin: auto;
}

.title{
	font-family: 'Norwester';
	font-size: 32px;
	text-align: center;
	padding: 30px;
}

#abouttitle{
	color: #264653;
	text-shadow: 2px 2px #F4A261;
}

#aboutsection{
	background-color: #E9C46A;
}

#description{
	text-align: left;
	color: #E76F51;
	overflow: hidden;
}

#aboutme{
	padding: 40px;
	width: 70%;
}

#girl{
	width: 40%;
	float: left;
}

#about{
	overflow: hidden;
}

.stripes{
	margin: 0;
}

.stripes hr{
	border: 0;
	height: 10px;
}

.points{
	padding: 14px;
	margin: auto;
}

#projects{
	background-color: #2A9D8F;
}


#projcontent{
  -webkit-column-count: 2;
  -webkit-column-gap:   0px;
  -moz-column-count:    2;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           0px;  
  text-align: center;
  width: 80%;
}

#projcontent img {
  width: 80% !important;
  height: auto !important;
}

.projtitle{
	color: #264653;
	text-shadow: 2px 2px #E9C46A;
	font-family: 'Norwester';
	font-size: 24px;
	margin-bottom: 20px;
	padding-top: 20px;
}

#projheader{
	color: #E9C46A;
	text-shadow: 2px 2px #E76F51;
}

.projimg{
	width:  400px;
	display: block;
	margin: auto;
}


.container{
	padding: 30px;
	display: inline-block;
	position: relative;
}

.item{
	display: inline-block;
}

.overlay {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #E9C46A;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}


.container:hover .overlay {
  /*opacity: 1;*/
  height: 100%;
}


.projdesc{
	text-align: left;
	color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.projlink{
	margin-top: 50px;
	text-align: center;
}
.projlink a{
	color: #264653;
}

.prev{
	width: 200px;
	float: left;
}


#contact{
	background-color: #E76F51;
	padding-bottom: 50px;
}

#contactheader{
	color: #E9C46A; 
	text-shadow: 2px 2px #2A9D8F;
}

.icon{
	width: 40px;
	padding: 20px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}

#contacticons{
	text-align: center;
}

@media (max-width: 800px) {
  #projcontent {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}